@using System.Security.Claims;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var roles = HttpContextAccessor.HttpContext.User.Claims?.Where(c => c.Type == ClaimTypes.Role).Select(r => r.Value).ToList();
}

<!DOCTYPE html>
<!--
Template Name: Pentwist
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <title>Dream 14</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @*<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">*@
    <link href="~/css/FrontEnd/layout.css" rel="stylesheet" />

    <!-- Stylish Login Page CSS -->
    <link href="~/css/FrontEnd/login-page.css" rel="stylesheet" />

    <!--Only for demo purpose - no need to add.-->
    <link href="~/css/FrontEnd/demo.css" rel="stylesheet" />

    <style type="text/css">

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 50%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        /* Add Animation */
        @@-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        @@keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        /* The Close Button */
        .close {
            color: #000;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .modal-header {
            text-align: center;
            padding: 2px 16px;
            /*background-color: #5cb85c;*/
            color: white;
        }

        .modal-body {
            padding: 2px 16px;
        }

        .modal-footer {
            margin-left: 35%;
            padding: 2px 16px;
            /*background-color: #5cb85c;*/
            color: white;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body id="top">
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <div id="logo" class="fl_left">
                <h1><a href="@Url.Action("Index","FrontEnd")">Dream 14</a></h1>
            </div>
            <nav id="mainav" class="fl_right">
                <ul class="clear">
                    <li><a href="@Url.Action("Index","FrontEnd")">Home</a></li>
                    <li><a href="#">Balance : @HttpContextAccessor.HttpContext.User.Claims?.FirstOrDefault(c => c.Type == "FEBalance")?.Value</a></li>
                    <li><a href="#">Exposure : @HttpContextAccessor.HttpContext.User.Claims?.FirstOrDefault(c => c.Type == "FEBalance")?.Value</a></li>
                    <li>
                        <a class="drop" href="#">@HttpContextAccessor.HttpContext.User.Claims?.FirstOrDefault(c => c.Type == "FEFullName")?.Value</a>
                        <ul>
                            <li><a href="#">Account Statement</a></li>
                            <li><a href="#">Profit/Loss Report</a></li>
                            <li><a href="#">Bet History</a></li>
                            <li><a href="#">Casino Report History</a></li>
                            <li><a href="#">Unsetteled Bet</a></li>
                            <li><a href="#">Set Button Values</a></li>
                            <li><a id="btnChangePassword" href="#">Change Password</a></li>
                            <li><a href="@Url.Action("Logout", "FrontEnd")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper row3">
        <main class="hoc container clear">
            <section>
                @RenderBody()
            </section>
            <div class="clear"></div>
        </main>
    </div>
    <div class="wrapper row5">
        <div id="copyright" class="hoc clear">
            <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">Dream 14</a></p>
        </div>
    </div>
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 style="background-color: #001240;color: white;padding: 10px;margin-top: 20px;text-align: left;">Change Password</h2>
            </div>
            <div class="modal-body">
                <label style="border:none;"> Old Password <span style="color:red">*</span></label>
                <input type="password" id="OldPassword" class="cm-input" placeholder="Enter your old password">
                <span class="error" style="display:none; color:red" id="span_OldPassword">Old Password is required</span><br />

                <label style="border:none;"> New Password <span style="color:red">*</span></label>
                <input type="password" id="NewPassword" class="cm-input" placeholder="Enter your new password">
                <span class="error" style="display:none; color:red" id="span_NewPassword">New Password is required</span><br />

                <label style="border:none;"> Confirm Password <span style="color:red">*</span></label>
                <input type="password" id="Confirmassword" class="cm-input" placeholder="Confirm your new password">
                <span class="error" style="display:none; color:red" id="span_ConfirmPassword">Confirm Password is required</span><br />

            </div>
            <div class="modal-footer">
                <button type="button" id="btnPassword" style="width:50%" class="btn-login  gr-bg">Change Password</button>
            </div>
        </div>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("btnChangePassword");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

                    // When the user clicks anywhere outside of the modal, close it
                    //window.onclick = function (event) {
                    //    if (event.target == modal) {
                    //        modal.style.display = "none";
                    //    }
                    //}
    </script>


    <!-- JAVASCRIPTS -->
    @*<script src="layout/scripts/jquery.min.js"></script>*@
    <script src="~/js/FrontEnd/jquery.min.js"></script>
    @*<script src="layout/scripts/jquery.backtotop.js"></script>*@
    <script src="~/js/FrontEnd/jquery.backtotop.js"></script>
    @*<script src="layout/scripts/jquery.mobilemenu.js"></script>*@
    <script src="~/js/FrontEnd/jquery.mobilemenu.js"></script>

    <script src="~/js/FrontEnd/commonFE.js"></script>

    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/sweetalert2.promise.min.js"></script>
</body>
</html>
