@using System.Security.Claims;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var roles = HttpContextAccessor.HttpContext.User.Claims?.Where(c => c.Type == ClaimTypes.Role).Select(r => r.Value).ToList();

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewData["Title"] - Pickfords Intranet</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">


    <!--Global CSS-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/datepicker.min.css" rel="stylesheet" />
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />

    <!--Theme CSS-->
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/MultiselectFolderTree/jquery.tree-multiselect.css" asp-append-version="true" rel="stylesheet" />

    <!--All JavaScript References-->
    <!--Custom Js-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.js"></script>
    <script src="~/lib/jquery/dist/nicEdit-latest.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-select.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/datepicker.min.js"></script>
    <script src="~/lib/jquery/dist/datepicker.en.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/sweetalert2.promise.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/MultiselectFolderTree/jquery.tree-multiselect.js" asp-append-version="true"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script type="text/javascript">
		@RenderSection("Scripts",required: false)

		$(document).ready(function () {
		@RenderSection("DocumentReady", required: false)
		});
    </script>

    @RenderSection("Styles", required: false)

</head>
<body>

    <div class="main_wrapper">

        <div class="header">

            <div class="center_wrap">
                <div class="top_menu">
                    <a href="@Url.Action("Dashboard","Home")" class="logo"><img src="@Url.Content("~/images/pickfords_logo_w.png")" alt="pickfords" /></a>
                    <div class="extra_links">
                        <a href="#" style="padding-top: 10px;text-decoration: none !important;cursor: default !important;"><span>Dream14 Admin</span></a>


                        @if (roles.Any(r => r == "SuperAdmin"))
                        {
                            <a class="notification" style="padding-top: 10px;text-decoration: none !important;cursor: pointer !important;" id="btnUserDetails" href="@Url.Action("UserList","Home")">
                                <span>User Details</span>
                                <span class="badge">0</span>
                            </a>

                            <a style="padding-top: 10px;text-decoration: none !important;cursor: pointer !important;" href="@Url.Action("AdminUsers","SuperAdmin")">Admin</a>
                            <a style="padding-top: 10px;text-decoration: none !important;cursor: pointer !important;" href="@Url.Action("MasterUsers","SuperAdmin")">Master</a>
                            <a style="padding-top: 10px;text-decoration: none !important;cursor: pointer !important;" href="@Url.Action("AgentUsers","SuperAdmin")">Agent</a>
                            <a style="padding-top: 10px;text-decoration: none !important;cursor: pointer !important;" href="@Url.Action("FrontEndUsers","SuperAdmin")">User</a>
                        }
                        else if (roles.Any(r => r == "Admin"))
                        {
                            <a style="padding-top: 10px;text-decoration: none !important;cursor: pointer !important;" href="@Url.Action("MasterUsers","SuperAdmin")">Master</a>
                            <a style="padding-top: 10px;text-decoration: none !important;cursor: pointer !important;" href="@Url.Action("AgentUsers","SuperAdmin")">Agent</a>
                            <a style="padding-top: 10px;text-decoration: none !important;cursor: pointer !important;" href="@Url.Action("FrontEndUsers","SuperAdmin")">User</a>
                        }
                        else if (roles.Any(r => r == "Master"))
                        {
                            <a style="padding-top: 10px;text-decoration: none !important;cursor: pointer !important;" href="@Url.Action("AgentUsers","SuperAdmin")">Agent</a>
                            <a style="padding-top: 10px;text-decoration: none !important;cursor: pointer !important;" href="@Url.Action("FrontEndUsers","SuperAdmin")">User</a>
                        }
                        else if (roles.Any(r => r == "Agent"))
                        {
                            <a style="padding-top: 10px;text-decoration: none !important;cursor: pointer !important;" href="@Url.Action("FrontEndUsers","SuperAdmin")">User</a>
                        }
                    </div>
                    <ul>
                        <li class="nav-li"><a href="@Url.Action("Dashboard", "Home")">Dashboard</a></li>

                        <li>
                            <a href="#" style="text-decoration: none !important;cursor: pointer !important;">Balance : @HttpContextAccessor.HttpContext.User.Claims?.FirstOrDefault(c => c.Type == "Balance")?.Value</a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none !important;cursor: pointer !important;">Exposure : @HttpContextAccessor.HttpContext.User.Claims?.FirstOrDefault(c => c.Type == "Balance")?.Value</a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none !important;cursor: pointer !important;">@*Logged in as*@ <span>@HttpContextAccessor.HttpContext.User.Claims?.FirstOrDefault(c => c.Type == "FullName")?.Value</span></a>
                            <ul class="submenu">
                                <li class="nav-li">
                                    <a id="btnChangePassword" href="#" style="padding-top: 10px;"><span>Change Password</span></a>
                                </li>
                                <li>
                                    <a title="Events" href="@Url.Action("Index", "Event")" style="padding-top: 10px; cursor: pointer"><span>Events</span></a>
                                </li>
                                <li class="nav-li">
                                    <a title="Log-out" href="@Url.Action("Logout", "Account")"><span style="margin-top: 10px; cursor: pointer">Logout</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!--End header-->

        <div id="progress" class="loaderModal">
            <div class="sk-fading">
                <div class="sk-fading-circle loaderModal">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </div>
        </div>

        <!--End Loader Div-->
        @RenderBody()
        <!--End full_width-->



    </div>
    <!--End main_wrapper-->

    <div id="partialResetPassword" style="display:none;" class="content_wrap"></div>
    <div id="partialDepositWithdrawl" style="display:none;" class="content_wrap"></div>
    <div id="popup_overlay" class="popup_window_overlay"></div>

    <script type="text/javascript">
        $(document).ready(function () {

            window.setInterval(function () {
                GetUuserDetailsCount();
            }, 100);
        });


        function GetUuserDetailsCount() {
            $.ajax({
                type: "Get",
                url: "/Home/GetUserCount",
                async: false,
                success: function (count) {
                    $('.badge').html(count)
                },
                error: function (e) {
                    alert(e);
                }
            });


        }

    </script>

</body>
</html>
