@model Dream14.ViewModels.SuperAdmin.AgentUser
@{
    ViewData["Title"] = "Edit Agent User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="formAgent" name="formAgent">
    <div class="tab_menu">
        <div class="center_wrap">

            <button type="button" class="back_btn" onClick="window.location.href='@Url.Action("AgentUsers","SuperAdmin")'">Back</button>

            <ul class="tab_list">
                <li class="current"><a href="#tab_1">Agent User Details</a></li>
            </ul>

            <button type="button" id="Update_Agent_Btn" class="btn_field tab_save">Save</button>

        </div>
    </div>
    <!--End tab_menu-->

    <div class="full_width">
        <div class="center_wrap">

            <div class="content_wrap">

                <div class="page_heading">
                    <h1>Update Agent User</h1>
                </div>
                <!--End page_heading-->

                <div class="form_wrap">

                    <div class="tab_content" id="tab_1">

                        <div class="form_fields_box">
                            <fieldset>
                                <div class="form_field">
                                    <label for="Id">User Id</label>
                                    <input type="text" value="@Model.UserId" disabled>
                                    <input type="hidden" id="UserId" value="@Model.UserId" />
                                </div>
                                <div class="form_field">
                                    <label for="Name">
                                        Name*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Department Name.">Tooltip</small>
                                    </label>
                                    <input id="Name" value="@Model.Name" type="text">
                                    <span class="error_label" id="Name_Error"></span>
                                </div>

                                <div class="form_field">
                                    <label for="UserName">
                                        UserName*
                                        <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Enter the main phone number for the department.">Tooltip</small>
                                    </label>
                                    <input id="UserName" value="@Model.UserName" type="text">
                                    <input id="hdnUserName" value="@Model.UserName" type="hidden">
                                    <span class="error_label" id="UserName_Error"></span>
                                </div>

                            </fieldset>

                        </div>
                        <!--End form_fields_box-->

                        <div class="form_fields_box">

                            <div class="form_field">
                                <label for="Password">
                                    Password*
                                    <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Enter the main phone number for the department.">Tooltip</small>
                                </label>
                                <input id="Password" value="@Model.Password" type="password">
                                <span class="error_label" id="Password_Error"></span>
                            </div>

                            <div class="form_field">
                                <label for="MobileNumber">
                                    Mobile Number*
                                    <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Enter the main phone number for the department.">Tooltip</small>
                                </label>
                                <input id="MobileNumber" value="@Model.MobileNumber" type="text">
                                <span class="error_label" id="MobileNumber_Error"></span>
                            </div>

                            <div class="form_field">
                                <label for="DropDown">
                                    User Type*
                                    <small class="info_icon" data-toggle="tooltip" data-placement="right" title="(Required) Enter the main phone number for the department.">Tooltip</small>
                                </label>
                                <div class="select_div">
                                    @if (Model.UserType == "Vip")
                                    {
                                        <select id="UserType">
                                            <option value="Vip" selected="selected">Vip</option>
                                            <option value="Normal">Normal</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select id="UserType">
                                            <option value="Vip">Vip</option>
                                            <option value="Normal" selected="selected">Normal</option>
                                        </select>
                                    }
                                </div>
                            </div>

                        </div>
                        <!--End form_fields_box-->

                    </div>



                </div>
                <!--End forom_wrap-->


            </div>
            <!--End content_wrap-->


        </div>
        <!--End center_wrap-->
    </div>

</form>
<!--End full_width-->

<script src="~/js/SuperAdmin/superAdmin.editAgentUser.js" asp-append-version="true"></script>

@section DocumentReady{
    var currentTab = location.hash
    if (currentTab) {
    $(".tab_list li").removeClass("current");
    $(".tab_list li>a[href=" + currentTab + "]").closest("li").addClass("current");
    $(".tab_content").hide();
    $(currentTab).show();
    $(currentTab + "_btn").show()
    }

    //Select Current Menu
    $('.nav-li').removeClass('current');
    $('#menuItemFAQs').addClass('current');
}