@model IEnumerable<Dream14.ViewModels.SuperAdmin.FrontEndUser>
@{
	ViewData["Title"] = "FrontEnd Users";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top_filter_bar">
    <div class="center_wrap">

        <div class="top_filter_left">

            <button type="button" class="add_new_list_item" onClick="window.location.href='@Url.Action("AddFrontEndUser","SuperAdmin")'">Add new</button>
            <button id="btnDeleteAllCheckedFrontEnd" type="button" class="delete_list_item">delete</button>

        </div>

        <div class="top_filter_right">


            <div class="form_group">
                <fieldset>
                    <input type="text" id="txtSearchFrontEndList" class="form-control" placeholder="Search">
                    <input type="button" class="search_btn" value="go" />
                </fieldset>
            </div>
        </div>

    </div>
</div>
<!--End top_filter_bar-->


<div class="full_width">
    <div class="center_wrap">

        <div class="content_wrap">

            <div class="page_heading">
                <h1>FrontEnd User List </h1>
            </div>
            <!--End page_heading-->

            <div class="table_wrap">
                <table id="tblFrontEnds" class="table">
                    <thead>
                        <tr>
                            <th style="width: 70px;">
                                <div class="table_checkbox">
                                    <input type="checkbox" id="checkall" class="check_all">
                                    <label for="checkall">Accept</label>
                                </div>
                            </th>
                            <th style="width: 300px;">
                                <button type="button" class="table_title active"><i class="icon asc"></i>Full Name</button>
                            </th>
                            <th>
                                <button type="button" class="table_title"><i class="icon"></i>Email Address</button>
                            </th>
                            <th>
                                <button type="button" class="table_title"><i class="icon"></i>Creation Date</button>
                            </th>
                            <th>
                                <button type="button" class="table_title"><i class="icon"></i>Is Active</button>
                            </th>
                            <th class="editEndUser" style="width:75px;text-align: center;">Edit</th>
                            <th class="deleteEndUser" style="width:75px;text-align: center;">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var frontEnd in Model)
						{
                        <tr>
                            <td style="width: 70px;">
                                <div class="table_checkbox">
                                    <input type="checkbox" id="checkitem1" class="check_item">
                                    <label for="checkitem1"></label>
                                </div>
                            </td>
                            <td>@frontEnd.FullName</td>
                            <td>@frontEnd.EmailAddress</td>
                            <td>@frontEnd.CreatedDateDisplay</td>
                            <td>@frontEnd.IsActive</td>
                            <td style="width:75px;text-align: center;">
                                <button type="button" class="edit_item" onClick="window.location.href='@Url.Action("EditFrontEndUser","SuperAdmin",new { Id=frontEnd.Id})'">edit</button>
                            </td>
                            <td style="width:75px;text-align: center;">
                                <span style="display:none">@frontEnd.Id</span>
                                <button type="button" class="delete_item frontEndItem">delete</button>
                            </td>

                        </tr>

						}
                    </tbody>
                </table>
            </div>




        </div>
        <!--End content_wrap-->



    </div>
    <!--End center_wrap-->

</div>
<!--End full_width-->
<!--Modal Popup-->
<script src="~/js/SuperAdmin/superAdmin.frontEndUsers.js" asp-append-version="true"></script>

